/* Provide sufficient contrast against white background */
a {
  color: #6817b4;
}
.dark-theme a {
  color: rgb(241, 182, 241);
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
