@import './src/colours.scss';

.twitter-feeds{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.twitter-feed{
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 45px;
    border-radius: 15px;
    border: 2px solid $light-theme-border;
    box-shadow: 0px 0px 40px 5px $light-theme-glow;
    background-color: #ffffff;
}
.news-image {
    text-align: center;
    padding-bottom:5%;
}
.news-image img{
    border: 2px solid $light-theme-border;
    border-radius: 15px;
}
.news-item {
    border-radius: 15px;
    border: 2px solid $light-theme-border;
    box-shadow: 0px 0px 40px 5px $light-theme-glow;
    background-color: #ffffff;
    margin-bottom: 45px;
    h1 {
        padding:15px;
    }
    p {
        padding:15px;
    }
    span {
        color: #0000008c;
        padding-left: 20px;
    }
}

.dark-theme{
    .twitter-feed {
        border: 2px solid $dark-theme-border;
        box-shadow: 0px 0px 40px 5px $dark-theme-glow;
        background-color: #292f33;
    }
    .news-image img{
        border-color: $dark-theme-border;
    }
    .news-item{
        background-color: #292f33;
        border-color: $dark-theme-border;
        box-shadow: 0px 0px 40px 5px $dark-theme-glow;
        span {
            color: #ffffffad;
            padding-left: 20px;
        }
    }
}
@media (max-width: 770px) {
    .twitter-feeds{
        display: flex;
        flex-wrap: wrap;
    }
    .twitter-feed {
        width: 100%;
    }
  }

  