@import './src/colours.scss';

.weather-widget{
    text-align: center;
}
.roverMap {
    text-align: center;
}
.weather-widget iframe {
    width: 800px;
    height: 530px;
    border-style: solid;
    border-width: 2px;
    border-color: $light-theme-border;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top:10px;
    box-shadow: 0px 0px 40px 5px $light-theme-glow;
}
.roverMap iframe {
    width: 90%;
    max-width:800px;
    border-style: solid;
    border-width: 2px;
    border-color: $light-theme-border;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top:10px;
    box-shadow: 0px 0px 40px 5px $light-theme-glow;
}
.dark-theme {
    .weather-widget iframe{
        border-color: $dark-theme-border;
        box-shadow: 0px 0px 40px 5px $dark-theme-glow;
    }
    .roverMap iframe{
        border-color: $dark-theme-border;
        box-shadow: 0px 0px 40px 5px $dark-theme-glow;
    }
}

@media screen and (min-width: 999px){
    .weather-widget iframe {
        width: 800px;
        height: 530px;
    }    
}
@media screen and (min-width: 650px) and (max-width: 1000px){
    .weather-widget iframe {
        width: 500px;
        height: 400px;
    }
}
@media screen and (min-width: 490px) and (max-width: 651px){
    .weather-widget iframe {
        width: 400px;
        height: 400px;
    }
}
@media screen and (min-width: 300px) and (max-width: 491px){
    .weather-widget iframe {
        width: 300px;
        height: 400px;
    }
}
    
